@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-1 {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 400px;
}

.logo>img {
    width: 75px;
    height: 75px;

}

.links {
    padding-top: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.links>ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 15px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 100px 400px 75px;
}

.maintext {
    text-align: justify;
    margin-right: 25px;

}

#main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

#sub {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
}

.img {
    width: 500px;
    height: 250px;
    margin-left: 25px;
}

.heading {
    text-align: center;
    margin: 50px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.images {
    display: flex;

    justify-content: space-evenly;
    padding: 50px 550px;
}

.illustration {
    text-align: center;
    padding: 35px;
}

.ill {
    width: 125px;
    height: 125px;
    border: 3px solid #3882f6;
    border-radius: 7%;
}

.quote {
    background-color: #e5e7eb;
}

.quote>blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 150px 600px;
}

.thor {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    text-align: right;
}

.container-3 {
    padding: 100px 400px;
}

.action {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 50px 50px 50px 75px;
}



.action-main {
    color: #e5e7eb;
    font-size: 24px;
    font-weight: 600;
}

.action-sub {
    color: #e5e7eb;
    font-size: 18px;
}

.action-btn {
    border: 2px solid white;
    padding: 8px 16px;
    cursor: grab;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    margin: 50px 0 0;
    padding: 25px 0;
    text-align: center;
}